<app-menu></app-menu>

<h1>Event binding</h1>
<p>manda dados da tela para a classe</p>
<app-event-binding></app-event-binding>
<br><br>

<h1>ngIf - ngFor - ngSwitch</h1>
<app-ngif-ngfor-ngswitch></app-ngif-ngfor-ngswitch>
<br><br>

<h1>Two way binding</h1>
<app-two-way-binding></app-two-way-binding>
<br><br>

<h1>Interação entre componentes @Input @Output</h1>
<app-interacao-componente (chieldEvent)="message = $event" [parentData]="name"></app-interacao-componente>
<p>{{ message }}</p>
<br><br>

<h1>Pipes |</h1>
<app-pipes></app-pipes>
<br><br>

<h1>Services</h1>
<app-teste-service></app-teste-service>

<router-outlet></router-outlet>
